<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note Manager</title>
    <link class = 'style-page' rel="stylesheet" href="../../public/styles/index.css">
    <link rel="icon" href="../../public/assets/favicon.svg">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
    <script src="../../public/scripts/index.js" defer></script>
</head>
<body>
    
    <header class = "header">
        <button class = 'create-note'></button>
        <button class = 'delete-note'></button>
    </header>
    <main class = "notes">
    </main>
    <footer class = "footer">
        <button class = "change-theme"></button>
    </footer>

    <div class = "overlay hide"></div>
</body>
</html>