* {
    user-select: none;
}

:root {
    --siteColor: #F1CDD5;
    --buttonColor: #8E82BF;
    --noteColor: #CDB5F5;
    --shadowNote: #8E82BFBB -10px 10px, #8E82BF90 -15px 15px, #8E82BF70 -20px 20px, #8E82BF50 -25px 25px, #8E82BF30 -30px 30px;
    --filterImgButton: none;
    --modeIcon: url("../assets/moon.svg");
    --noteTextColor: black;
    --buttonTransitionColor: darkslateblue;
    --buttonPressedColor: #262138;
}

.dark-mode:root {
    --siteColor: #121212;
    --buttonColor: #5F369B;
    --noteColor: #1c1c1c;
    --shadowNote: #5F369BBB -10px 10px, #5F369B90 -15px 15px, #5F369B70 -20px 20px, #5F369B50 -25px 25px, #5F369B30 -30px 30px;
    --filterImgButton: invert(100);
    --modeIcon: url("../assets/sun.svg");
    --noteTextColor: white;
    --buttonTransitionColor: rgb(151, 145, 192);
    --buttonPressedColor: #a674f0;
}

body {
    background-color: var(--siteColor);
}

.header {
    text-align: left;
    display: block;
}

.header {
    display: inline-flex;
}

.create-note, .delete-note {
    background: var(--buttonColor) 5px 4px no-repeat;
    background-size: 20px 20px;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    outline: 0;
    border: 0;
    transition: box-shadow 2s;
}

.create-note {
    background-image: url("../assets/plus.svg");
}

.delete-note {
    background-image: url("../assets/minus.svg");
}

.notes {
    position: fixed;
    top: 100px;
    left: 200px;
    height: 65%;
    width: 70%;
    background-color: var(--noteColor);
    transition: box-shadow 2s;
    overflow-y: scroll;
}

.note {
    background: black;
    width:110px;
    height: 110px;
    margin-bottom: 10px;
    /* max-width: max-content;
    max-height:110px; */

    margin-top: 20px;
    margin-left: 30px;
    display:inline-table;
    /* padding-bottom: 20px; */
}

.change-theme {
    background: black var(--modeIcon) 5px 4px no-repeat;
    background-size: 35px 35px;
    position: fixed;
    bottom: 10px;
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
    margin-left: 30px;
    outline: 0;
    border: 0;
    transition: box-shadow 2s;
}

.delete-note:hover, .create-note:hover {
    background-color: var(--buttonTransitionColor);
    box-shadow: #620aee60 -4px 4px;
    transition-duration: 0.6s;
}
.change-theme:hover {
    background-color: #3c4042;
    transition-duration: 0.6s;
    box-shadow: #620aee60 -4px 4px;
}

.notes:hover {
    box-shadow: var(--shadowNote);  
}
/* 
.overlay {
    position:absolute;
    left:0;
    top:0;
    background: rgba(255,255,255,.5);
    width: 100%;
    height: 100%;
}

.hide {
    background: transparent;
} */